/* Tipografia */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Nunito:wght@300&display=swap');

/* Variaveis */

:root {
    --typography: 'Inter', sans-serif;
    --font-extra-bold: 700;
    --font-bold: 500;
    --font-regular: 300;
    --font-title-1: 28px;
    --font-title-2: 24px;
    --font-title-3: 20px;
    --font-title-4: 16px;
    --font-headline: 16px;
    --font-body: 14px;
    --font-small: 10px;
    --color-primary: #2E245E;
    --color-secundary: #37268C;
    --gray-100: #333333;
    --gray-50: #828282;
    --gray-25: #c1c1c1;
    --gray-0: #F5F5F5;
}

